<thead>
  <tr>
    <th>Heroes List</th>
  </tr>
</thead>
<tbody>
  <tr>
    <ul class="heroes">
      <li
        *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelected(hero)"
      >
        <span class="badge">{{ hero.id }}</span
        >{{ hero.name }}
      </li>
    </ul>
  </tr>
</tbody>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<!-- <div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }}Details</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input for="hero-name" [(ngModel)]="selectedHero.name" placeholder="name" />
  </div>
</div> -->
